/* Adaptação Responsiva: Inscreva-se */

@media screen and (max-width: 480px) {
    .pesquisar-campo {
        width: 200px;
        margin-left: 50px;
    }
  
    .paginas {
        width: 5px;
        height: 5px;
    }
  
    .logo {
        text-align: left;
        font-size: 25pt;
    }
  }